<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"> 🏁 Motorsport Navigator </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Events
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="eventsDropdown">

                        <li>
                            <a class="dropdown-item" href="{% url 'events:events' %}">
                                My Events
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'events:shared_events' %}">
                                Shared Events
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'events:season_dashboard' %}">
                                Season Dashboard
                            </a>
                        </li>

                    </ul>
                </li>

        

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'garage:garage' %}">
                        <i class="bi bi-car-front-fill"></i>Garage</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}"> Logout </a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}"> Login </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}"> Register </a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>